body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.logo {
    width: 110px;
    height: auto;
    margin-bottom: 10px; /* Para dar espacio entre el logo y el título */
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.highlighted {
    font-size: 40px; /* Tamaño más grande para "Contratos" */
    font-weight: bold;
}

.sub-title {
    font-size: 1.2em; /* Tamaño más pequeño para "Docentes e Instructores" */
    color: #FFD700; /* Color amarillo dorado */
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

button:hover {
    background: #218838;
}
