body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.logo {
    width: 110px;
    height: auto;
    margin-bottom: 15px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

.highlighted {
    font-size: 40px;
    font-weight: bold;
}

.sub-title {
    font-size: 1.2em;
    color: #FFD700;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

/* Estilo del cuadro de mensaje */
.message-box {
    background-color: #e6f7e6;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
    border: 2px solid #28a745;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contract-image {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}

.message {
    font-size: 24px;
    font-weight: bold;
    color: #28a745;
}
